<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ice.ssm.mapper.DeveloperLimitRelationshipMapper" >
  <resultMap id="BaseResultMap" type="com.shcp.pojo.DeveloperLimitRelationship" >
    <id column="DLID" property="dlid" jdbcType="SMALLINT" />
    <id column="DID" property="did" jdbcType="BIGINT" />
    <result column="DLSTATUS" property="dlstatus" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DLID, DID, DLSTATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shcp.pojo.DeveloperLimitRelationshipExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from developer_limit_relationship
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.shcp.pojo.DeveloperLimitRelationshipKey" >
    select 
    <include refid="Base_Column_List" />
    from developer_limit_relationship
    where DLID = #{dlid,jdbcType=SMALLINT}
      and DID = #{did,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.shcp.pojo.DeveloperLimitRelationshipKey" >
    delete from developer_limit_relationship
    where DLID = #{dlid,jdbcType=SMALLINT}
      and DID = #{did,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shcp.pojo.DeveloperLimitRelationshipExample" >
    delete from developer_limit_relationship
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shcp.pojo.DeveloperLimitRelationship" >
    insert into developer_limit_relationship (DLID, DID, DLSTATUS
      )
    values (#{dlid,jdbcType=SMALLINT}, #{did,jdbcType=BIGINT}, #{dlstatus,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shcp.pojo.DeveloperLimitRelationship" >
    insert into developer_limit_relationship
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dlid != null" >
        DLID,
      </if>
      <if test="did != null" >
        DID,
      </if>
      <if test="dlstatus != null" >
        DLSTATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dlid != null" >
        #{dlid,jdbcType=SMALLINT},
      </if>
      <if test="did != null" >
        #{did,jdbcType=BIGINT},
      </if>
      <if test="dlstatus != null" >
        #{dlstatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shcp.pojo.DeveloperLimitRelationshipExample" resultType="java.lang.Integer" >
    select count(*) from developer_limit_relationship
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update developer_limit_relationship
    <set >
      <if test="record.dlid != null" >
        DLID = #{record.dlid,jdbcType=SMALLINT},
      </if>
      <if test="record.did != null" >
        DID = #{record.did,jdbcType=BIGINT},
      </if>
      <if test="record.dlstatus != null" >
        DLSTATUS = #{record.dlstatus,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update developer_limit_relationship
    set DLID = #{record.dlid,jdbcType=SMALLINT},
      DID = #{record.did,jdbcType=BIGINT},
      DLSTATUS = #{record.dlstatus,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shcp.pojo.DeveloperLimitRelationship" >
    update developer_limit_relationship
    <set >
      <if test="dlstatus != null" >
        DLSTATUS = #{dlstatus,jdbcType=BIT},
      </if>
    </set>
    where DLID = #{dlid,jdbcType=SMALLINT}
      and DID = #{did,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shcp.pojo.DeveloperLimitRelationship" >
    update developer_limit_relationship
    set DLSTATUS = #{dlstatus,jdbcType=BIT}
    where DLID = #{dlid,jdbcType=SMALLINT}
      and DID = #{did,jdbcType=BIGINT}
  </update>
</mapper>