<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ice.ssm.mapper.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.shcp.pojo.Device" >
    <id column="DEID" property="deid" jdbcType="BIGINT" />
    <result column="UID" property="uid" jdbcType="BIGINT" />
    <result column="DETID" property="detid" jdbcType="BIGINT" />
    <result column="DID" property="did" jdbcType="BIGINT" />
    <result column="DENAME" property="dename" jdbcType="VARCHAR" />
    <result column="DEIPADDR" property="deipaddr" jdbcType="CHAR" />
    <result column="DEPORT" property="deport" jdbcType="INTEGER" />
    <result column="DEMAC" property="demac" jdbcType="CHAR" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFY" property="gmtModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DEID, UID, DETID, DID, DENAME, DEIPADDR, DEPORT, DEMAC, GMT_CREATE, GMT_MODIFY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shcp.pojo.DeviceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from device
    where DEID = #{deid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from device
    where DEID = #{deid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shcp.pojo.DeviceExample" >
    delete from device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shcp.pojo.Device" >
    insert into device (DEID, UID, DETID, 
      DID, DENAME, DEIPADDR, 
      DEPORT, DEMAC, GMT_CREATE, 
      GMT_MODIFY)
    values (#{deid,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{detid,jdbcType=BIGINT}, 
      #{did,jdbcType=BIGINT}, #{dename,jdbcType=VARCHAR}, #{deipaddr,jdbcType=CHAR}, 
      #{deport,jdbcType=INTEGER}, #{demac,jdbcType=CHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shcp.pojo.Device" >
    insert into device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deid != null" >
        DEID,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="detid != null" >
        DETID,
      </if>
      <if test="did != null" >
        DID,
      </if>
      <if test="dename != null" >
        DENAME,
      </if>
      <if test="deipaddr != null" >
        DEIPADDR,
      </if>
      <if test="deport != null" >
        DEPORT,
      </if>
      <if test="demac != null" >
        DEMAC,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModify != null" >
        GMT_MODIFY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deid != null" >
        #{deid,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="detid != null" >
        #{detid,jdbcType=BIGINT},
      </if>
      <if test="did != null" >
        #{did,jdbcType=BIGINT},
      </if>
      <if test="dename != null" >
        #{dename,jdbcType=VARCHAR},
      </if>
      <if test="deipaddr != null" >
        #{deipaddr,jdbcType=CHAR},
      </if>
      <if test="deport != null" >
        #{deport,jdbcType=INTEGER},
      </if>
      <if test="demac != null" >
        #{demac,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shcp.pojo.DeviceExample" resultType="java.lang.Integer" >
    select count(*) from device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update device
    <set >
      <if test="record.deid != null" >
        DEID = #{record.deid,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null" >
        UID = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.detid != null" >
        DETID = #{record.detid,jdbcType=BIGINT},
      </if>
      <if test="record.did != null" >
        DID = #{record.did,jdbcType=BIGINT},
      </if>
      <if test="record.dename != null" >
        DENAME = #{record.dename,jdbcType=VARCHAR},
      </if>
      <if test="record.deipaddr != null" >
        DEIPADDR = #{record.deipaddr,jdbcType=CHAR},
      </if>
      <if test="record.deport != null" >
        DEPORT = #{record.deport,jdbcType=INTEGER},
      </if>
      <if test="record.demac != null" >
        DEMAC = #{record.demac,jdbcType=CHAR},
      </if>
      <if test="record.gmtCreate != null" >
        GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModify != null" >
        GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update device
    set DEID = #{record.deid,jdbcType=BIGINT},
      UID = #{record.uid,jdbcType=BIGINT},
      DETID = #{record.detid,jdbcType=BIGINT},
      DID = #{record.did,jdbcType=BIGINT},
      DENAME = #{record.dename,jdbcType=VARCHAR},
      DEIPADDR = #{record.deipaddr,jdbcType=CHAR},
      DEPORT = #{record.deport,jdbcType=INTEGER},
      DEMAC = #{record.demac,jdbcType=CHAR},
      GMT_CREATE = #{record.gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{record.gmtModify,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shcp.pojo.Device" >
    update device
    <set >
      <if test="uid != null" >
        UID = #{uid,jdbcType=BIGINT},
      </if>
      <if test="detid != null" >
        DETID = #{detid,jdbcType=BIGINT},
      </if>
      <if test="did != null" >
        DID = #{did,jdbcType=BIGINT},
      </if>
      <if test="dename != null" >
        DENAME = #{dename,jdbcType=VARCHAR},
      </if>
      <if test="deipaddr != null" >
        DEIPADDR = #{deipaddr,jdbcType=CHAR},
      </if>
      <if test="deport != null" >
        DEPORT = #{deport,jdbcType=INTEGER},
      </if>
      <if test="demac != null" >
        DEMAC = #{demac,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        GMT_MODIFY = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DEID = #{deid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shcp.pojo.Device" >
    update device
    set UID = #{uid,jdbcType=BIGINT},
      DETID = #{detid,jdbcType=BIGINT},
      DID = #{did,jdbcType=BIGINT},
      DENAME = #{dename,jdbcType=VARCHAR},
      DEIPADDR = #{deipaddr,jdbcType=CHAR},
      DEPORT = #{deport,jdbcType=INTEGER},
      DEMAC = #{demac,jdbcType=CHAR},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFY = #{gmtModify,jdbcType=TIMESTAMP}
    where DEID = #{deid,jdbcType=BIGINT}
  </update>
</mapper>