<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shcp.dao.mapper.TbDevicelimitMapper" >
  <resultMap id="BaseResultMap" type="com.shcp.pojo.TbDevicelimit" >
    <id column="DSLID" property="dslid" jdbcType="BIGINT" />
    <result column="TID" property="tid" jdbcType="BIGINT" />
    <result column="DSLNAME" property="dslname" jdbcType="VARCHAR" />
    <result column="DSLKEY" property="dslkey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DSLID, TID, DSLNAME, DSLKEY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shcp.pojo.TbDevicelimitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_devicelimit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_devicelimit
    where DSLID = #{dslid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_devicelimit
    where DSLID = #{dslid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shcp.pojo.TbDevicelimitExample" >
    delete from tb_devicelimit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shcp.pojo.TbDevicelimit" >
    insert into tb_devicelimit (DSLID, TID, DSLNAME, 
      DSLKEY)
    values (#{dslid,jdbcType=BIGINT}, #{tid,jdbcType=BIGINT}, #{dslname,jdbcType=VARCHAR}, 
      #{dslkey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shcp.pojo.TbDevicelimit" >
    insert into tb_devicelimit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dslid != null" >
        DSLID,
      </if>
      <if test="tid != null" >
        TID,
      </if>
      <if test="dslname != null" >
        DSLNAME,
      </if>
      <if test="dslkey != null" >
        DSLKEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dslid != null" >
        #{dslid,jdbcType=BIGINT},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=BIGINT},
      </if>
      <if test="dslname != null" >
        #{dslname,jdbcType=VARCHAR},
      </if>
      <if test="dslkey != null" >
        #{dslkey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shcp.pojo.TbDevicelimitExample" resultType="java.lang.Integer" >
    select count(*) from tb_devicelimit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_devicelimit
    <set >
      <if test="record.dslid != null" >
        DSLID = #{record.dslid,jdbcType=BIGINT},
      </if>
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=BIGINT},
      </if>
      <if test="record.dslname != null" >
        DSLNAME = #{record.dslname,jdbcType=VARCHAR},
      </if>
      <if test="record.dslkey != null" >
        DSLKEY = #{record.dslkey,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_devicelimit
    set DSLID = #{record.dslid,jdbcType=BIGINT},
      TID = #{record.tid,jdbcType=BIGINT},
      DSLNAME = #{record.dslname,jdbcType=VARCHAR},
      DSLKEY = #{record.dslkey,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shcp.pojo.TbDevicelimit" >
    update tb_devicelimit
    <set >
      <if test="tid != null" >
        TID = #{tid,jdbcType=BIGINT},
      </if>
      <if test="dslname != null" >
        DSLNAME = #{dslname,jdbcType=VARCHAR},
      </if>
      <if test="dslkey != null" >
        DSLKEY = #{dslkey,jdbcType=VARCHAR},
      </if>
    </set>
    where DSLID = #{dslid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shcp.pojo.TbDevicelimit" >
    update tb_devicelimit
    set TID = #{tid,jdbcType=BIGINT},
      DSLNAME = #{dslname,jdbcType=VARCHAR},
      DSLKEY = #{dslkey,jdbcType=VARCHAR}
    where DSLID = #{dslid,jdbcType=BIGINT}
  </update>
</mapper>