<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shcp.dao.mapper.TestDeviceTypeMapper" >
  <resultMap id="BaseResultMap" type="com.shcp.pojo.TestDeviceType" >
    <id column="TDSID" property="tdsid" jdbcType="BIGINT" />
    <result column="TDSNAME" property="tdsname" jdbcType="VARCHAR" />
    <result column="DID" property="did" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TDSID, TDSNAME, DID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shcp.pojo.TestDeviceTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from test_device_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from test_device_type
    where TDSID = #{tdsid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from test_device_type
    where TDSID = #{tdsid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shcp.pojo.TestDeviceTypeExample" >
    delete from test_device_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shcp.pojo.TestDeviceType" >
    insert into test_device_type (TDSID, TDSNAME, DID
      )
    values (#{tdsid,jdbcType=BIGINT}, #{tdsname,jdbcType=VARCHAR}, #{did,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shcp.pojo.TestDeviceType" >
    insert into test_device_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tdsid != null" >
        TDSID,
      </if>
      <if test="tdsname != null" >
        TDSNAME,
      </if>
      <if test="did != null" >
        DID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tdsid != null" >
        #{tdsid,jdbcType=BIGINT},
      </if>
      <if test="tdsname != null" >
        #{tdsname,jdbcType=VARCHAR},
      </if>
      <if test="did != null" >
        #{did,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shcp.pojo.TestDeviceTypeExample" resultType="java.lang.Integer" >
    select count(*) from test_device_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update test_device_type
    <set >
      <if test="record.tdsid != null" >
        TDSID = #{record.tdsid,jdbcType=BIGINT},
      </if>
      <if test="record.tdsname != null" >
        TDSNAME = #{record.tdsname,jdbcType=VARCHAR},
      </if>
      <if test="record.did != null" >
        DID = #{record.did,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update test_device_type
    set TDSID = #{record.tdsid,jdbcType=BIGINT},
      TDSNAME = #{record.tdsname,jdbcType=VARCHAR},
      DID = #{record.did,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shcp.pojo.TestDeviceType" >
    update test_device_type
    <set >
      <if test="tdsname != null" >
        TDSNAME = #{tdsname,jdbcType=VARCHAR},
      </if>
      <if test="did != null" >
        DID = #{did,jdbcType=BIGINT},
      </if>
    </set>
    where TDSID = #{tdsid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shcp.pojo.TestDeviceType" >
    update test_device_type
    set TDSNAME = #{tdsname,jdbcType=VARCHAR},
      DID = #{did,jdbcType=BIGINT}
    where TDSID = #{tdsid,jdbcType=BIGINT}
  </update>
</mapper>